* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: rgb(99, 2, 99);
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
}

.box {
    width: 20rem;
    height: 25rem;
    border: 2px solid black;
    border-radius: 1rem;
    background: white;
    margin: 3rem auto;
}

.area_nt {
    margin: 1rem;
    text-align: start;
}


.box_message {
    width: 18rem;
    height: 13rem;
    border: 1px solid black;
    margin-left: 1rem;
}

.calculate {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin: 1rem;
    
}